//main.scss

@import 'reset';

/*För alla skärmstorlekar*/
* {
	box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    background-color:#ffffff;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 0;
    max-width: 100vw;
}
a {
    font-size: 100%;
	text-decoration: none;
	font-family: 'MS Serif', 'New York', sans-serif;
	color: black;
}
p {
    font-size: 110%;
    font-family: 'MS Serif', 'New York', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
    color:blue;
}
header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color:white;
}
/*Huvudmeny*/
#toggle {/*Göm checkbox för menyn*/
    display: none;
}
/*Hamburgermeny, ej visa för desktop*/
.hamMenu label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: left;
}
#logo {
    width: 10%;
	text-align: center;
}
/*Footer*/
footer {
	max-width: 100vw;
	bottom: 0;
    text-align:center;
    padding:1em;
    background-color:blue;
    margin-top:5em;
}
footer p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1em;
}