//main.scss

@import 'reset';
@import 'variables';

/*För alla skärmstorlekar*/
* {
	box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    background-color: $basic-color;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 0;
}
body, #container, footer {
    max-width: $maximum
}
header {
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: $basic-color;
}
p {
    font-size: 100%;
    font-family: $font-stack;
}
a {
    @extend p;
    color: black;
    text-decoration: none;
}
h1 {
    color: grey;
    line-height: 1.3em;
    font-size: 1.8em;
}  
h2 {
    @include for-size(phone) {    
    text-align: center;
    }
    @include for-size(tablet) { 
    text-align: center;       
    }
} 
.welcome {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    color: grey;
    font-size: 1.3em;
    line-height: 1.5em;
}
.logName {
    text-align: center;
}
#logoImg {
    height: auto;
    margin-bottom: 1em;
    margin-top: 2em;

    @include for-size(desktop) {    
        width: 10%;
    }
    @include for-size(tablet) {    
        width: 18%;
    } 
    @include for-size(phone) {    
        width: 25%; 
    }
    
}
/*navigeringsmeny*/
#navMenu {
    background-color:#d2e0e6;
    
    @include for-size(phone) {
    text-align: center;
    width: 100%;
    display: none;
    }
    @include for-size(tablet) {
    text-align: center;
    width: 100%;
    display: none; 
    }
    ul, li {
    @include for-size(desktop) {  
    padding: 2em;
    display: inline;
    text-align: right;

        }
    }       
    a, a:hover {
    @include for-size(desktop) {    
    color: black;
    clear: right;
    margin: 0 10px;
    line-height: 40px;
        }
    }
}
.hamMenu {
    @include for-size(desktop) {
    text-align: center; 
    margin-top: 2em;
    }
}
.hamMenu label {
    @include for-size(desktop) {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    }
    @include for-size(tablet) {
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #333333;
    cursor: pointer;   
    }
    @include for-size(phone) {
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #333333;
    cursor: pointer
    }
}
/*Huvudmeny*/
#toggle {/*Göm checkbox för menyn*/
display: none;
}
#toggle:checked + #navMenu {
    
    @include for-size(phone) {
    display: block;
    }
    @include for-size(tablet) {
    display: block;
    }
}
.pictures {
    clear: both;
    display: table;

    img {
    float: left;
    width: 33.33%;
    height: auto; 
    padding: 5px;
    }
}
.maintext {
    a {    
        color: $darken-color;
        line-height: 1.3em;
        font-size: 1.5em;
    }
    @include for-size(desktop) {
    @include vendor;
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
    margin: auto;
    }
    @include for-size(phone) {
    max-width: $maximum;
    }
}
.text {
    background-color: lighten(#838181, 44);
    height: auto;

    @include for-size(desktop) {
    display: inline-block;
    text-align: center;
    width: 33.33%;
    padding: 25px;
    margin: 60px;
    margin-bottom: 10px;
    margin-top: 2em;
    }
    @include for-size(tablet) {
    max-width: $maximum;
    margin-top: 4em;
    width: 96%;
    padding: 20px;
    margin: 20px;
    }
    @include for-size(phone) {
    max-width: $maximum;
    margin-top: 1em;
    width: 90%;
    }
}
/*Footer*/
footer {
    bottom: 0;
    background-color: $darken-color;
    @include for-size(desktop) {
    @include vendor;
    margin-top: 4em;
    }
    @include for-size(tablet) {
    @include vendor;
    margin-top: 4em;  
    }
    @include for-size(phone) {
    max-width: $maximum;  
    text-align: center;
    @include vendor-phone;
    }
    a {
        color: #00214b;
    }
}
.info {
    font-family: 'Montserrat', sans-serif;
    color: $basic-color;
    font-size: 1em;
    @include for-size(desktop) {
    padding: 60px;
    }
    @include for-size(tablet) { 
    padding: 30px;  
    }
    @include for-size(phone) {
    max-width: $maximum;     
    }
}